@charset "UTF-8";
::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 3px;
  height: 0px; }

::-webkit-scrollbar-track {
  background-color: #262626; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 3px;
  background-color: #f6f6f6; }

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px; }

::-webkit-scrollbar {
  width: 5px; }

.btn {
  background: transparent;
  padding: 18px 48px;
  border: 1px solid #4d4d4d;
  margin-right: 20px;
  margin-top: 20px;
  font-family: "Asap";
  font-weight: medium;
  font-size: 16px;
  color: #4d4d4d;
  text-transform: uppercase; }
  .btn:hover {
    font-weight: bold;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 10px 15px 8px #cacaca; }

.left-name:before {
  margin: 0;
  margin-bottom: 20px; }

.center-name:before {
  margin: 0 auto 20px auto; }

.right-name:before {
  margin: 0 0 20px auto; }

.main-name-block {
  max-width: 350px;
  font-family: "Asap";
  font-weight: bold;
  font-size: 46px;
  color: #4d4d4d;
  text-transform: uppercase; }
  .main-name-block:before {
    content: "";
    width: 60px;
    height: 4px;
    background: #7a7a7a;
    display: block;
    opacity: 1;
    visibility: visible; }

button {
  cursor: pointer; }

body {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

header {
  height: 750px;
  background: url("images/header.png") no-repeat 100% 125%, url("images/header_bg.png") no-repeat 50% 50%/cover; }
  header .top-bar {
    padding-bottom: 85px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 30px; }
    header .top-bar .logo {
      text-align: center; }
      header .top-bar .logo .name {
        font-family: "Lato";
        font-weight: lighter;
        font-size: 14.15px;
        color: #000;
        text-transform: uppercase; }
      header .top-bar .logo .position {
        font-family: "Lato";
        font-size: 8px;
        color: #000;
        text-transform: uppercase; }
    header .top-bar .menu ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin-right: 40px; }
      header .top-bar .menu ul li {
        margin-left: 40px; }
        header .top-bar .menu ul li a {
          font-family: "Asap";
          font-size: 16px;
          color: #4d4d4d;
          text-transform: uppercase;
          padding-bottom: 8px;
          border-bottom: 2px solid transparent; }
          header .top-bar .menu ul li a:hover {
            padding-bottom: 8px;
            border-bottom: 2px solid #878787;
            transition: .3s; }
  header .main-bar {
    padding-top: 85px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto; }
    header .main-bar .name-person {
      font-family: "Asap";
      font-weight: medium;
      font-size: 90px;
      color: #4d4d4d; }
    header .main-bar .about-person {
      font-family: "Asap";
      font-weight: medium;
      font-size: 22px;
      color: #4d4d4d;
      margin-bottom: 10px; }

main {
  margin-bottom: 154px; }
  main .about-person {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 125px;
    justify-content: space-between; }
    main .about-person .some-information {
      width: 470px; }
      main .about-person .some-information .text-block {
        font-family: "Asap";
        font-size: 16px;
        color: #4d4d4d;
        line-height: 25px;
        margin-bottom: 20px;
        margin-right: 30px; }
    main .about-person .image img {
      height: 440px;
      width: 570px;
      object-fit: cover;
      object-position: 50% 50%; }
  main .services .main-name-block,
  main .skills .main-name-block,
  main .portfolio .main-name-block,
  main .testimonials .main-name-block {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center; }
  main .services {
    padding: 120px 0;
    background: #f6f6f6;
    text-align: center; }
    main .services .service-cards {
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      main .services .service-cards .service-card {
        width: 33%;
        margin-top: 60px; }
        main .services .service-cards .service-card .designation {
          font-family: "Asap";
          font-weight: bold;
          font-size: 24px;
          color: #4d4d4d; }
  main .skills {
    padding-top: 115px;
    padding-bottom: 125px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto; }
    main .skills .main-name-block {
      margin-bottom: 40px; }
    main .skills canvas {
      width: 100%;
      max-width: 1170px;
      margin: 0 auto; }
  main .portfolio {
    padding: 120px 0;
    background: #f6f6f6; }
    main .portfolio .main-name-block {
      margin-bottom: 25px; }
    main .portfolio .portfolio-cards {
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main .portfolio .portfolio-cards .portfolio-card {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 31.45299145%;
        height: 318px; }
        main .portfolio .portfolio-cards .portfolio-card:hover {
          box-shadow: 0px 10px 15px 8px #cacaca;
          cursor: pointer; }
        main .portfolio .portfolio-cards .portfolio-card img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%; }
  main .testimonials {
    padding: 120px 0;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto; }
    main .testimonials .testimonialsSlider {
      padding: 120px 75px 80px 110px;
      border: 1px solid black;
      width: 100%;
      max-width: 953px;
      margin: 50px auto 0 auto; }
      main .testimonials .testimonialsSlider ul.slick-dots {
        width: 700px;
        margin: 0 auto; }
      main .testimonials .testimonialsSlider .slick-dots li button:before {
        margin-top: 35px;
        font-family: 'slick';
        font-size: 13px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 13px;
        height: 13px;
        content: '▄';
        /* <-- Вот этот символ */
        text-align: center;
        color: #000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      main .testimonials .testimonialsSlider .slide-card {
        outline: none;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex; }
        main .testimonials .testimonialsSlider .slide-card .image {
          margin-right: 30px; }
        main .testimonials .testimonialsSlider .slide-card .some-information .name {
          font-family: "Asap";
          font-weight: bold;
          font-size: 30px;
          color: #212121;
          text-transform: uppercase;
          margin-bottom: 5px; }
        main .testimonials .testimonialsSlider .slide-card .some-information .position {
          font-family: "Asap";
          font-weight: bold;
          font-style: italic;
          font-size: 12px;
          color: #212121;
          text-transform: uppercase;
          margin-bottom: 20px; }
        main .testimonials .testimonialsSlider .slide-card .some-information .about-text {
          font-family: "Asap";
          font-size: 16px;
          color: #3a3a3a;
          text-transform: uppercase;
          line-height: 25px; }
  main .communications {
    background: #f6f6f6; }
    main .communications .cards {
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
      justify-content: space-around;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      padding: 50px 0 65px 0;
      align-items: center; }
      main .communications .cards .card {
        width: 25%; }
        main .communications .cards .card .quantity {
          font-family: "Asap";
          font-size: 30px;
          color: #212121;
          margin-top: 25px; }
        main .communications .cards .card .name {
          font-family: "Asap";
          font-size: 22px;
          color: #212121;
          text-transform: uppercase;
          margin-top: 10px; }

footer {
  padding-top: 145px;
  width: 100%;
  background: transparent url("images/footer_bg.png") no-repeat 50% 100%/cover; }
  footer .main-name-block {
    color: #fff;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center; }
    footer .main-name-block:before {
      background: #c1c1c1; }
  footer form {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 55px; }
    footer form input,
    footer form textarea {
      font-family: "Asap";
      font-weight: bold;
      font-size: 16px;
      color: #212121; }
    footer form .input {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between; }
      footer form .input input {
        width: calc(48.051% - 10px);
        border: none;
        padding: 22px 0 22px 10px;
        outline: none; }
    footer form textarea {
      min-height: 193px;
      border: none;
      width: calc(100% - 10px);
      padding: 22px 0 22px 10px;
      outline: none;
      margin-top: 30px; }
    footer form .button {
      margin-top: 30px;
      width: 100%;
      text-align: center; }
      footer form .button button {
        padding: 18px 50px 18px 31px;
        border: none;
        background: #ffffff url("images/icons/send.png") no-repeat 75% 50%;
        font-family: "Asap";
        font-size: 16px;
        color: #4d4d4d;
        text-transform: uppercase;
        outline: none; }
        footer form .button button:hover {
          font-weight: bold;
          box-shadow: 0px 10px 15px 8px #5a5a5b; }
  footer hr {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto; }
  footer .social {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 26px;
    padding-bottom: 30px; }
    footer .social .facebook,
    footer .social .twitter,
    footer .social .linkedlin,
    footer .social .google-plus,
    footer .social .behance,
    footer .social .dribble {
      width: 27px;
      height: 27px;
      margin-right: 9px; }
      footer .social .facebook:hover,
      footer .social .twitter:hover,
      footer .social .linkedlin:hover,
      footer .social .google-plus:hover,
      footer .social .behance:hover,
      footer .social .dribble:hover {
        cursor: pointer; }
    footer .social .facebook {
      background: transparent url("images/icons/fc.png") no-repeat 50% 50%; }
      footer .social .facebook:hover {
        background: transparent url("images/icons/fc_h.png") no-repeat 50% 50%; }
    footer .social .twitter {
      background: transparent url("images/icons/tw.png") no-repeat 50% 50%; }
      footer .social .twitter:hover {
        background: transparent url("images/icons/tw_h.png") no-repeat 50% 50%; }
    footer .social .linkedlin {
      background: transparent url("images/icons/li.png") no-repeat 50% 50%; }
      footer .social .linkedlin:hover {
        background: transparent url("images/icons/li_h.png") no-repeat 50% 50%; }
    footer .social .google-plus {
      background: transparent url("images/icons/gp.png") no-repeat 50% 50%; }
      footer .social .google-plus:hover {
        background: transparent url("images/icons/gp_h.png") no-repeat 50% 50%; }
    footer .social .behance {
      background: transparent url("images/icons/be.png") no-repeat 50% 50%; }
      footer .social .behance:hover {
        background: transparent url("images/icons/be_h.png") no-repeat 50% 50%; }
    footer .social .dribble {
      background: transparent url("images/icons/dr.png") no-repeat 50% 50%; }
      footer .social .dribble:hover {
        background: transparent url("images/icons/dr_h.png") no-repeat 50% 50%; }
